.operator-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  
  justify-content: center;
}

.operator-container .content {
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  
}

.operator-container .content section {
  width: 100%;
  max-width: 680px;
}

.operator-container .content section h1{
  margin:  64px 0 32px;
  margin-bottom: 40px;
  margin-top: 80px;
  font-size: 48px;
  text-align: center;
}

.operator-container .content form input {
  margin-top: 8px;
}

.operator-container header {
  display: flex;
  align-items: center;
}

.operator-container header .menu{
  margin-right: 10px;
  margin-left: 70px;
}

.operator-container header span {
  font-size: 18px;
  margin-left: 24px;
}

.operator-container header a { 
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}

.operator-container header button {
  height: 45px;
  width: 45px;
  border-radius: 8px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 16px;
  transition: border-color 0.5s;
}

.operator-container header button:hover {
  border-color: #999;
}